<div class="row">
  <div class="col-md-3">
    <div>
      <h4>Edit Document</h4>
      <form>
        <div class="form-group">
          <input type="text" id="name-input" [(ngModel)]="document.docName" (keydown.enter)="saveDocument()" name="docname" class="form-control" placeholder="Document Name" required maxlength="15" />
        </div>
        <div *ngIf="alert" class="alert alert-warning alert-dismissible fade show" role="alert">
          Document name cannot be empty.
        </div>
        <button type="button" class="btn btn-success" (click)="saveDocument()">Save</button>
        <span>&nbsp;</span>
        <button type="button" class="btn btn-primary" (click)="showHistory()">Document History</button>
      </form>
    </div>
  </div>
  <div class="col-md-7">
    <textarea class="form-control" [(ngModel)]="document.text" rows="10" id="text"></textarea>
  </div>
  <!--<div class="col-md-2">
    <app-history i="{{index}}"></app-history>
  </div>-->
</div>


