<div class="row">
  <div class="col-md-3">
    <div>
      <h4>New Document</h4>
      <form>
        <div class="form-group">
          <input type="text" id="name-input" [(ngModel)]="document.docName" (keydown.enter)="addDocument()" name="docname" class="form-control" placeholder="Document Name" required maxlength="15" />
        </div>
        <div *ngIf="alert" class="alert alert-warning alert-dismissible fade show" role="alert">
          Document name cannot be empty.
        </div>
        <button type="button" class="btn btn-success" (click)="addDocument()">Add</button>
      </form>
    </div>
    
  </div>
  <div class="col-md-8">
    <table class="table table-bordered table-sm table-hover">
      <thead class="thead-light">
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Creation Date</th>
          <th>Last Modified</th>
          <th>Commands</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let x of this.service.documents; let i = index">
          <td>{{ i+1 }}</td>
          <td>{{ x.docName }}</td>
          <td>{{ x.createDate | date:'dd/MM/yyyy, HH:mm:ss' }}</td>
          <td>{{ x.updateDate | date:'dd/MM/yyyy, HH:mm:ss' }}</td>

          <td>
            <button type="button" class="btn btn-primary btn-sm" (click)="editDocument(i)">Edit</button>
            <button type="button" class="btn btn-danger btn-sm" (click)="deleteDocument(x.id,i)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
